<div class="">
  {{#link-to 'admin.departments.new'}}Add department{{/link-to}}
  <ul>
    {{#each model as |department|}}
      <li>{{#link-to 'admin.departments.show' department}}{{department.name}}{{/link-to}}</li>
    {{/each}}
  </ul>
</div>

{{outlet}}
